<div class="jumbotron">
  <h1>Welcome to Algo Arena</h1>
  <p>Here you can practice algorithms with an automated grader</p>
  <p><a class="btn btn-primary btn-lg" href="/submit" role="button">Submit solution</a></p>
</div>
