<form action="/do_submit" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="code">Source code:</label>
    <textarea name="code" rows="15" class="form-control" id="code"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="Send">
  </div>
</form>
